/*初始化*/
*{
	padding:0;
	margin:0;
	list-style: none;
	border:none;
}


/*首页*/
/*顶部*/
.ding{
	width: 100%;
	height:42px;
	background: #22b8dd;
}
.dingzi{
	width:1230px;
	height:100%;
	margin:0 auto;
	padding-top:12px;
}
.search{
	width:270px;
	height:22px;
	border-radius: 12px;
	outline: none;
	float: right;
	margin-right:20px;
	padding-left: 10px;
}
.sousuo{
	color:#fff;
	float: right;
	padding-right: 15px;
	padding-top: 2px;
}
.login{
	font-size: 14px;
	color:#fff;
	float: right;
	padding-right: 15px;
}
.shugang{
	color:#fff;
	float: right;
	padding-right: 15px;
}
.reg{
	font-size: 14px;
	color:#fff;
	float: right;
	padding-right: 20px;
}
.head{
	width:100%;
	height:49px;
	background: #fff;
}
.headzi{
	width:1230px;
	height:100%;
    margin:0 auto;
    position:relative;
}
.logo{
	width:154px;
	height:84px;
	position:absolute;
	left:0;
	top:0;
	z-index:999;
}
nav ul{
	width:1000px;
	height:100%;
	position:absolute;
	left:155px;
	top:0;
}
nav ul li{
	padding-left: 27px;
	padding-top: 18px;
	color:#000;
	font-size: 14px;
	float: left;
}
.banner{
	width:100%;
	height:520px;
	background: rgb(165,228,244);
}
.neck{
	width:100%;
	height: 410px;
}
.neck1{
	width:1230px;
	height:410px;
	margin:0 auto;
	margin-top:80px;
}
.neck1 li{
	width:390px;
	height:100%;
	margin-right: 20px;
    float: left;
} 
.neck1_tubiao{
	display: block;
	width:112px;
	height:112px;
	margin:auto;
}
.neck1_title{
	display: block;
	width:100%;
	height:30px;
	margin-top:50px;
	text-align: center;
	font-weight: bold;
}
.neck1_abr{
	display: block;
	width:100%;
	height:100px;
	margin-top:30px;
	font-size: 14px;
	text-align: center;
}
.neck1_button{
	width:110px;
	height:30px;
	border:2px solid rgb(250,106,47);
	border-radius: 16px;
    display: block;
    margin:0 auto;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    color:rgb(251,131,90);
}
.future{
	width:100%;
	height:800px;
	background: #22b8dd;
	padding-top:20px;
}
.future1{
    width:100%;
    height:30px;
    display: block;
    text-align: center;
    font-size: 30px;
    color:#fff;
    margin-top: 100px;
}
.future2{
    width:100%;
    height:30px;
    display: block;
    text-align: center;
    font-size: 16px;
    color:#fff;
    margin-top: 25px;
}
.future3{
    width:1230px;
    height:390px;
    margin:70px auto;
    border-radius:10px;
    box-shadow: 5px 10px 5px rgb(21,160,208);
    overflow: hidden;
}
.future3 img{
	width:100%;
	height:100%;
}
.news{
	width:100%;
	height:870px;
	background: rgb(242,249,249)
}
.newszi{
	width:1230px;
	height:100%;
	margin:0 auto;
}
.news1{
	display: block;
	width:180px;
    height:38px;
    margin: 0 auto;
    font-size: 30px;
    color:#000;
    text-align: center;
    padding-top: 120px;
    padding-bottom: 10px;
    border-bottom:3px solid #22b8dd;
}
/*.news2{
	display: block;
	width:55px;
	height:55px;
	margin-left: 345px;
	margin-top:400px;
}*/
.news4{
	width:1050px;
	height:540px;
	margin:0 auto;
}
.news5{
	width:1020px;
	height:540px;
	margin:25px auto 0;
}
.news4 li{
	width:320px;
	height:540px;
	float: left;
	margin-right: 30px;
	-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
	-moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
	box-shadow:0 0 10px rgba(0, 204, 204, .5); 
	border-radius: 10px;
	overflow: hidden; 
}
.news4_thumb{
	width:100%;
	height:260px;
	background: #22b8dd;
}
.activity{
	width:100%;
	height:1090px;
}
.activityzi{
	width:1230px;
	height:100%;
	margin:0 auto;
}
.activity1{
	width:1217px;
	height:506px;
	margin :50px auto 0;
}
.activity2{
	width:1230px;
	height:506px;
}
.activity2 li{
	width: 397px;
	height:100%;
	margin-right: 13px;
	background: #22b8dd;
	float: left;
}
.anli{
	width:100%;
	height:500px;
	background: #22b8dd;
}
.anli1{
	display: block;
	width:180px;
    height:38px;
    margin:0 auto;
    padding-top:120px;
    font-size: 30px;
    color:#fff;
    text-align: center;
}
.anli2{
	width:1280px;
	height:190px;
	margin:0 auto;
	padding-top: 70px;
}
.anli2 li{
	width:320px;
	height:100%;
	
	float: left;
}
.anli3{
	display: block;
	border-radius: 50%;
	width:120px;
	height:120px;
	margin:0 auto ;
	background: #fff;
}
.anli4{
	display: block;
	width:100%;
	height:30px;
	text-align: center;
	font-size: 20px;
	margin-top:20px;
	color:#fff;
}
.kehu{
	width:100%;
	height:700px;
}
.kehu1{
	width:1230px;
	height:100px;
	margin:60px auto 20px;
}
.kehu2{
	width:1280px;
	height:100px;
}
.kehu2 li{
	width:270px;
	height:100%;
	border-radius: 10px;
	background: #22b8dd;
	float: left;
	margin-right: 50px;
}
.zhanlve{
	width:100%;
	height: 700px;
	background: rgb(242,249,249);
}
.neck1_tubiao img{
	width:100%;
	height:100%;
}
.zhanlve_title{
	display: block;
	width:210px;
	height:36px;
	background: #22b8dd;
	border-radius: 10px;
	line-height: 36px;
	margin:30px auto 0;
	text-align: center;
	font-weight: bold;
}
.dibu{
	width:100%;
	height:434px;
	padding-top: 76px;
	background: rgb(52,64,78);
}
.dibuzi{
	width:1230px;
	height:100%;
    margin:0 auto;
}
.dibuzi .dibukong{
	width:100%;
	height:220px;
	margin:0 auto;
}
.dibudiv1{
	width:270px;
	height:100%;
	float: left;
}
.dibudiv{
	width:420px;
	height:100%;
	float: left;
}
.dibudiv li,.dibudiv1 li{
	width:100%;
	height:44px;
	display: block;
    text-align: center;
    color:rgb(153,153,153);
}
.dibukong .dibudivtitle{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color:#fff;
}
.last{
	display: block;
    padding-left:100px;
    margin-top: 100px;
    color:rgb(153,153,153);
    font-weight: bold;
}
/*首页结束*/
/*科研*/
.body{
	width:1230px;
	height:auto;
	margin:0 auto;
}
.kongbai{
	width:100%;
	height:100px;
}
.body img{
	width:100%;
}
/*chuguojiuyi*/
.chuguo_banner{
	width:1530px;
	margin:0 auto;
}
.chuguo_banner img{
	width:100%;
}
.zixunfuwu{
	width:1230px;
	margin:0 auto;
	position: relative;
}
.zixunfuwuwenzi{
	width:1140px;
	height:160px;
	position:absolute;
	left:0;right:0;
	top:150px;bottom:0;
	margin:auto;
	text-align: center;
}
.youshi{
	width:1230px;
	margin:0 auto;
}
.kongbai1{
	width:1230px;
	margin:0 auto;
	height:50px;
}
.youshi_pic{
	width:1250px;
	height:270px;
	margin:0 auto;
}
.youshi_pic li{
	width:287px;
	height:100%;
	margin-right:23px;
	float: left;
	border-radius: 5px;
	overflow: hidden;
	-webkit-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
	-moz-box-shadow:0 0 10px rgba(0, 204, 204, .5);  
	box-shadow:0 0 10px rgba(0, 204, 204, .5); 
	background: rgb(34,184,221);
}
.youshi_pic li img{
	width:100%;
}
.youshi_pic li span{
	display: block;
	width:100%;
	padding-top:7px;
	text-align: center;
	font-weight:bold;
	font-size: 18px;
	color:#fff;
}
.zixunyoushi{
	width:100%;
	height:763px;
	background: rgb(242,249,249);
}
.zixunyoushi_head{
	width:323px;
	height:70px;
	margin:0 auto;
}
.zixunyoushi_body{
	width:1230px;
	margin:0 auto;
}
.zixunliucheng{
	width:100%;
}
.kezhuanzhen{
	width:100%;
	height:1100px;
	background: rgb(34,184,221);
}
.kezhuanzhen_head{
	width:200px;
	height:70px;
	margin:0 auto;
}
.kezhuanzhen p{
	margin:0 auto;
}
.kezhuanzhen_abr{
	width:650px;
	height:30px;
	margin:0 auto;
	color:#fff;
}
.hospitle{
	width:1230px;
	margin:0 auto;
	height:765px;
	background: red;
}
.hospitle1{
	width:;
}









































